:root {
  --preloader-circle-endsize: 20vw;
  --amazing-cubic:  cubic-bezier(.2,.9,.45,1);
}

body {
  background-color: white;
  transition: background-color .76s var(--amazing-cubic);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.preloader {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  pointer-events: none;
}
.preloader-circle {
  width: var(--preloader-circle-endsize);
  height: 20vw;
  position: absolute;
  z-index: 500;
  top: calc(50vh - 0.5 * var(--preloader-circle-endsize));
  left: calc(50vw - 0.5 * var(--preloader-circle-endsize));
  background-color: rgb(7, 8, 19);
  transform: scale(500);
  border-radius: 100%;
}

.preloader-circle1 {
  animation: exitTransform 1.5s var(--amazing-cubic) forwards 1 .2s;
}

.preloader-circle2 {
  animation: exitTransform 1.5s var(--amazing-cubic) forwards 1 .3s;
  background-color: rgb(233, 74, 0);
  opacity: 1;
  z-index: 499;
}

@keyframes exitTransform {
  0% {
    transform: scale(500);
    opacity: 1;
  } 80% {
    opacity: 1;
  } 100% {
    transform: scale(0);
    opacity: 0;
  }
}

#darkmode-switch {
  pointer-events: none;
}

.darkmode-container {
  position: fixed;
  height: 30px;
  width: 100px;
  bottom: 3vh;
  left: 3vw;
  opacity: 0;
  z-index: 100;
  transition: opacity 1s var(--amazing-cubic) 2s;
  pointer-events: none;
}

.darkmode-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

label,
.darkmode-toggle {
  height: 30px;
  border-radius: 100px;
}

label {
  width: 100px;
  background-color: rgba(134, 134, 134, 0.158);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.darkmode-toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.322);
  transition: transform .3s var(--amazing-cubic);
}

.darkmode-label-sun {
  position: absolute;
  width: 24px;
  left: 13px;
  top: 3px;

}
.darkmode-label-moon {
  position: absolute;
  width: 20px;
  left: 65px;
  top: 5px;
  transition: filter var(--amazing-cubic) .5s;
  filter: invert(1);
}

.darkmode-label-dark {
  opacity: .5;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + .darkmode-container .darkmode-toggle {
  transform: translateX(100%);
  background-color: #000111;
}
[type="checkbox"]:checked + .darkmode-container .darkmode-label-moon {
  filter: invert(1);
}

.settings, .bg-container, .title {
  opacity: 0;
  transition: opacity 1s var(--amazing-cubic) 2s;
}

.settings-wheel {
  position: fixed;
  height: 24px;
  top: 3vh;
  right: 3vw;
  opacity: 1;
  transition: transform .73s var(--amazing-cubic);
}

.settings-wheel:hover {
  cursor: pointer;
}

.settings-wheel-fill {
  opacity: 0;
  filter: invert(1);
  transition: opacity .7s var(--amazing-cubic);
  pointer-events: none;
}
.settings-bg {
  background-color: rgba(221, 201, 255, 0.493);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 100vw;
  top: 0;
  transition: left .73s cubic-bezier(.84,.35,0,1.01);
}
.bg {
  width: 80vw;
  height: 80vw;
  position: absolute;
  top: 0;
  left: calc(50vw - 0.5 * 80vw);
  transform: rotate(0deg);
  z-index: 1;
  transition: transform cubic-bezier(.71,.19,.43,.96), top .4s ease-in-out;
}
.settings-content {
  position: absolute;
  display: flex;
  width: calc(4 * 80px + 10vw);
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  z-index: 5;
  left: calc(50vw - 0.5 * (4 * 80px + 10vw));
  top: 0vh;
  opacity: 0;
  pointer-events: none;
  transition: top 1s cubic-bezier(.71,.19,.43,.96), opacity 1s cubic-bezier(.71,.19,.43,.96);
}

.option {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #00BD00 0%, rgba(0, 0, 0, 0.507) 100%);
  font-family: "Slackey", sans-serif;
  font-size: 18px;
  color: white;
  z-index: 6;
  padding-left: 5px;
  padding-right: 5px;
  opacity: .6;
  transform: translateY(-200px);
  transition: opacity .73s var(--amazing-cubic), transform .73s var(--amazing-cubic);
  border-radius: 5%;

}
.option-medium {
  font-size: 13px;
  background: linear-gradient(to bottom, #e5ff00 0%, rgba(0, 0, 0, 0.507) 100%);
  transition: opacity .73s var(--amazing-cubic), transform .73s var(--amazing-cubic) .1s;
}
.option-hard {
  font-size: 11px;
  padding-left: 4px;
  padding-right: 6px;
  background: linear-gradient(to bottom, #FF5B15 0%,rgba(0, 0, 0, 0.507) 100%);
  transition: opacity .73s var(--amazing-cubic), transform .73s var(--amazing-cubic) .2s;
}
.option-help {
  font-size: 14px;
  padding-left: 10px;
  background: linear-gradient(to bottom, #cf0000 0%, rgba(0, 0, 0, 0.507) 100%);
  transition: opacity .73s var(--amazing-cubic), transform .73s var(--amazing-cubic) .3s;
}

.option-selected {
  opacity: 1;
}
.option:hover {
  cursor: pointer;
  opacity: 1;

}

.settings-content p {
  font-family: "Slackey", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 10vw;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 170px;
}

.title {
  font-family: "Nosifer", sans-serif;
  text-align: center;
  font-size: 10vw;
  position: relative;
  top: 5vw;
  color: black;
  z-index: 2;
}
.anime-container {
  font-family: "Slackey", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 10vw;
  width: 54vw;
  left: calc(50vw - 0.5 * 54vw);
  position: absolute;
  opacity: 1;
  z-index: 4;
  top: 100px;
  opacity: 0;
  transition: top 1s cubic-bezier(.71,.19,.43,.96), opacity .5s cubic-bezier(.71,.19,.43,.96);
  pointer-events: none;
}

.anime-container .letter {
  display: inline-block;
}
.main {
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: opacity .6s linear;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

.word, .title-jump {
  display: inline-block;
  pointer-events: all;
  transition: transform .73s var(--amazing-cubic);
}

.title-jump:hover {
  cursor:default;
}


@keyframes jumpItem {
  0% {
    transform: translateY(0px);
  } 33% {
    transform: translateY(-10px);
  } 66% {
    transform: translateY(5px);
  } 100% {
    transform: translateY(0px);
  }
}

.start-button {
  width: 75px;
  align-items: center;
  pointer-events: all;
  opacity: 0;
  transition: opacity .73s var(--amazing-cubic), transform .73s var(--amazing-cubic);
}

.start-button:hover {
  cursor: pointer;
  opacity: .4;
  transform: scale(1.2);
}

.start-container {
  position: absolute;
  left: calc(50vw - 0.5 * 75px);
  margin-top: 10vh;
}

.orb {
  width: 30px;
  position: absolute;
  transform: scale(1);
  transition: transform 4s ease-in-out;
  opacity: 0;
  pointer-events: all;
  z-index: 10;

}
.orb:hover {
  cursor: pointer;
}
